# Health Stats Part 3: Waist 2 Hip Ratios

<!--- Write an explanation of the Waist To Hips Ratio statistic used by health professionals. Please include an explanation of what it is used for, exactly how it is calculated, and how to interpret the results. Note: Formmatting matters. Make this as professional as you can using Markdown.  --->
EDIT THIS MARKDOWN CELL

## Source Data

<!--- Replace the text below with a Markdown bullet list that defines the columns of the CSV file. Be sure to indicate the data type for each column. --->
EDIT THIS MARKDOWN CELL

## Data Import

In [79]:
# Goal: Extract the data from the file

import pandas as pd
import numpy as np
#import csv file
rows=pd.read_csv('w2h_data.csv',index_col=0
                )

#rows.names=['Waist','Hip','Gender']

rows

    Waist  Hip Gender
ID
1      30   32      M
2      32   37      M
3      30   36      M
4      33   39      M
5      29   33      M
6      32   38      M
7      33   42      M
8      30   40      M
9      30   37      M
10     32   39      M
11     24   35      F
12     25   37      F
13     24   37      F
14     22   34      F
15     26   38      F
16     26   37      F
17     25   38      F
18     26   37      F
19     28   40      F
20     23   35      F

## Calculations

In [83]:
# Goal: For each row of data calculate and store the w2h_ratio and shape.

# calculate the waist to hips ratios
rows ['W2H_Ratio']= rows['Waist']/rows['Hip']

# determine who is male (True) or female (False)
males = (rows['Gender']=='M')

# males with w2h ration > 0.9 are apple shaped
male_apples = np.logical_and((w2h_ratios>0.9),males)

# females with w2h ratio > 0.8 are apple shaped
female_apples = np.logical_and((w2h_ratios>0.8),np.logical_not(males))

# combines the male_apples and female_apples
apples=np.logical_or(male_apples,female_apples)

# works like an if then else statement
shapes=np.where(apples,'Apple','Pear')


# add the two new columns
rows['W2H Ratio']=w2h_ratios
rows['Shape']=shapes


print(rows)

    Waist  Hip Gender  W2H_Ratio  W2H Ratio  Shape
ID
1      30   32      M   0.937500   0.937500  Apple
2      32   37      M   0.864865   0.864865   Pear
3      30   36      M   0.833333   0.833333   Pear
4      33   39      M   0.846154   0.846154   Pear
5      29   33      M   0.878788   0.878788   Pear
6      32   38      M   0.842105   0.842105   Pear
7      33   42      M   0.785714   0.785714   Pear
8      30   40      M   0.750000   0.750000   Pear
9      30   37      M   0.810811   0.810811   Pear
10     32   39      M   0.820513   0.820513   Pear
11     24   35      F   0.685714   0.685714   Pear
12     25   37      F   0.675676   0.675676   Pear
13     24   37      F   0.648649   0.648649   Pear
14     22   34      F   0.647059   0.647059   Pear
15     26   38      F   0.684211   0.684211   Pear
16     26   37      F   0.702703   0.702703   Pear
17     25   38      F   0.657895   0.657895   Pear
18     26   37      F   0.702703   0.702703   Pear
19     28   40      F   0.700000   0.700000   Pear
20     23   35      F   0.657143   0.657143   Pear

## Output

In [84]:
rows.to_csv("XiangWu Health Part4.csv")